#container {
  position: relative;
}
.overlay-button {
  position: absolute;
  top: 60%;
  left: 87%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
a {
  text-decoration: none;
  color: inherit;
}
.box {
  background-color: rgb(14, 13, 13);
  padding-top: 10%;
}
.pool {
  padding: 10%;
  background-color: rgb(0, 0, 0);
}
.carousel-multiple .carousel-inner .carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-text-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Stile della navbar con sfondo trasparente */
.navbar-no-bg {
  background-color: transparent !important;
}

/* Stile della navbar con sfondo colorato */
.navbar-colored-bg {
  background-color: #000000; /* Cambia il colore come preferisci */
}
/* Stile della navbar con sfondo colorato in modalità mobile */
@media (max-width: 767.98px) {
  .navbar.navbar-no-bg {
    background-color: #000000 !important;
    color: white !important; /* Cambia il colore come preferisci */
  }
}
.image-text-container .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7); /* Sfondo scuro trasparente */
  padding: 20px;
}

.image-text-container img {
  background-color: black; /* Colore di sfondo nero */
}
.footer {
  background-color: #000000;
  padding: 5%;
}
button:hover {
  box-shadow: -3px 9px 35px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -3px 9px 35px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -3px 9px 35px 3px rgba(0, 0, 0, 0.25);
}
.box1 {
  padding: 10%;
}
/* Max width: 575.98px */
@media (min-width: 200px) and (max-width: 475.98px) {
  /* Regole CSS per i dispositivi extra-small */
  #btn1 {
    font-size: 8px !important;
  }
  #btn3 {
    font-size: 8px !important;
    margin-top: 12% !important;
  }
  #btn2 {
    font-size: 10px !important;
  }
  #textc {
    font-size: 15px !important;
  }
  #homepage {
    margin-top: 40px;
  }
  .pool {
    padding-top: 20%;
  }
}
